#mapdiv{
	position: absolute;
	left: 0;
	top: 0%;
	height: 100%;
	width: 40%;
}

iframe, #map, #bgimage{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%!important;
	width: 100%!important;
}

#contactinfo{
	position: absolute;
	top: 10%;
	left: 40%;
	width: 60%;
	height: 90%;
	background-color: white;
}

footer{
	position: absolute;
	left: 0;
	bottom: 0;
}

#bgimage{
	z-index: 10;
/*	background-image: url('Detroit-City-Skyline.jpg');*/
	background-position: center center;
	transition: all 1000000s;
}

#mapinfo{
	position: relative;
	top: 75%;
	left: 25%;
	width: 50%;
	height: 15%;
	background-color: white;
}

#mapdiv:target #bgimage{
	opacity: 0;
	transition: all 1s;
	z-index: -10;
}

#contactmap{
	position: fixed;
	right: -100%;
	width: 100%;
	top: 15%;
	height: 85%;
	z-index: 4;
	-webkit-transition: all 350ms;
	transition: all 350ms;
}

#contactmap:target{
	right: 0;
	-webkit-transition: all 350ms;
	z-index: 10;
}

#contactmap iframe{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%!important;
	width: 100%!important;
}

#mapimg{
	background: url('mapimg.png') no-repeat center;
	position: relative;
	height: 100%;
	left: 0;
	top: 0;
	width: 33%;
}